.{
    margin: 0;
    box-sizing: border-box;
   
   
}


 

.head{
    display: inline-block;  
    position: relative;
   
  
    
}

li{
    list-style: none;
}
#one{
   padding-top: 2%;
   position: absolute;
   left: 10%;
  

}
#date-display{
border: 2px solid black;
position: absolute;
right: 0%;
margin-top: 3em;
width: 20%;
height: 10%;
text-align: center ;
padding-top: 2em;

}

nav{
   
    border: 2px  rgb(88, 1, 16);
    border-style: double;
    margin-top: 3em;
}

nav li{
   display: inline;
  word-spacing:5em ;
  font-family:cursive;
 text-shadow:   violet;
   
   
 
}
 




